@inject IDishStorage _dishStorage
@inject IFavoriteStorage _favoriteStorage

@if (Dish != null)
{
    <img src="@Dish.Image" width="100%" style="margin:0px 0px;" alt="图片描述" />
    <div>
        <h1>@Dish.Name</h1>
        <h2>食堂：@Dish.Canteen</h2>
        <h2>店面：@Dish.Stall</h2>
        <h2>价格: @Dish.Price</h2>
        <h2>风味：@Dish.Flavor</h2>
        <h2>食材：@Dish.Ingredient</h2>

        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <Rate @bind-Value="IconListValue" class="custom-rate">
                    <ItemTemplate>
                        <i class="@GetIconList(int.Parse(Math.Round(context, 0, MidpointRounding.AwayFromZero).ToString()))"></i>
                    </ItemTemplate>
                </Rate>
            </div>
            <div class="col-12 col-sm-6">
                <div class="d-flex align-items-center h-100">
                    @Symbol
                </div>
            </div>
        </div>
        <div style="display: none;">
            <!-- 这里是你想要隐藏的内容 -->
            @GetIconValueChanged()
        </div>
        
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    [CascadingParameter(Name = "BodyContext")]
    private object? DishId { get; set; }
}