@inject IDishStorage _dishStorage
@inject IFavoriteStorage _favoriteStorage

@if (Dish != null)
{

    <div class="big">@Dish.Name</div>

    <img class="imgshow" src="@Dish.Image" width="100%" style="margin:0px 0px;" alt="图片描述" />

    <div class="price-container">
        <span class="currency-symbol">¥</span>@Dish.Price
    </div>

    <div>
        <div class="detail-container">
            <span class="bold">食堂：</span>@Dish.Canteen
        </div>
        <div class="detail-container">
            <span class="bold">店面：</span>@Dish.Stall
        </div>
        <div class="detail-container">
            <span class="bold">风味：</span>@Dish.Flavor
        </div>
        <div class="detail-container">
            <span class="bold">食材：</span>@Dish.Ingredient
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-6">
                <div class="hx">
                    <Rate @bind-Value="IconListValue" class="custom-rate">
                        <ItemTemplate>
                            <i class="@GetIconList(int.Parse(Math.Round(context, 0, MidpointRounding.AwayFromZero).ToString()))"></i>
                        </ItemTemplate>
                    </Rate>
                </div>
                <div class="hx">
                    @Symbol
                </div>
                </div>
                @*<div class="col-12 col-sm-6">
            <div class="d-flex align-items-center h-100">
                @Symbol
            </div>
        </div>*@
            </div>
        <div style="display: none;">
            这里是你想要隐藏的内容
            @GetIconValueChanged()
        </div>
    </div>

}
else
{
    <p>Loading...</p>
}

@code {
    [CascadingParameter(Name = "BodyContext")]
    private object? DishId { get; set; }
}