@page "/Menu"

@inject IDataIntegrationService _dataIntegrationService
@inject IRecommendService _recommendService

<Collapse>
    <CollapseItems>
        <CollapseItem Text="选项">
            <div class="row g-3">
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="菜品" />
                        <Dropdown TValue="string" Items="@_canteens" OnSelectedItemChanged="@OnCascadeBindSelectClick" Color="Color.Secondary" FixedButtonText="食堂" Size="Size.ExtraSmall" />
                        <Dropdown TValue="string" Items="@_stalls" OnSelectedItemChanged="@StallValueChanged" Color="Color.Secondary" FixedButtonText="窗口" Size="Size.ExtraSmall"></Dropdown>
                        <Dropdown TValue="string" Items="@_flavors" OnSelectedItemChanged="@FlavorValueChanged" Color="Color.Secondary" FixedButtonText="风味" Size="Size.ExtraSmall"></Dropdown>
                    </BootstrapInputGroup>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="价格低于" />
                        <Slider @bind-Value="@HighValue" Step="1" UseInputEvent="true"></Slider>
                        <Display Value="@(HighValue)"></Display>
                    </BootstrapInputGroup>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="价格高于" />
                        <Slider @bind-Value="@LowValue" Step="1" UseInputEvent="true"></Slider>
                        <Display Value="@(LowValue)"></Display>
                    </BootstrapInputGroup>
                </div>
                <div class="col-12 col-sm-6">
                    <BootstrapInputGroup>
                        <BootstrapInputGroupLabel DisplayText="评分" />
                        <CheckboxList IsButton="true" ShowBorder="false" TValue="IEnumerable<int>" @bind-Value="@_rate" Items="@Points" ShowLabel="true"></CheckboxList>
                    </BootstrapInputGroup>
                </div>
                <div class="row g-3">
                    <div class="col-6 align-items-center d-flex justify-content-start">
                        <div style="white-space: nowrap;">按评分排序：</div>
                        <Switch OnColor="Color.Primary" ShowInnerText="true" @bind-Value="@_rank" OnInnerText="是" OffInnerText="否"/>
                    </div>
                    <div class="col-6 align-items-center d-flex justify-content-start">
                        <div style="white-space: nowrap;">仅显示已评分</div>
                        <Switch OnColor="Color.Primary" ShowInnerText="true" @bind-Value="@_israted" OnInnerText="是" OffInnerText="否" />
                    </div>
                </div>
                <div class="col-12">
                    <Button IsBlock="true" Text="搜索" IsAsync="true" Icon="fa-solid fa-fw fa-search" OnClick="@SearchAsync" />
                </div>
            </div>
        </CollapseItem>
    </CollapseItems>
</Collapse>
<div style="height: 10px"></div>
<div class="col-12">
    <Search SearchButtonText="推荐"
            IgnoreCase="true"
            IsLikeMatch="true"
            PlaceHolder="请输入推荐提示"
            ShowClearButton="true"
            Items="@_autofill"
            OnSearch="@OnRecommendAsync"></Search>
</div>
<div style="height: 10px"></div>

@foreach (var item in _showItems)
{
    <div @onclick="() => OnListViewItemClick(item)">
        <Card IsShadow="true">
            <BodyTemplate>
                <div class="row justify-content-between align-items-center w-100">
                    <span class="col-9" style="font-weight: bold; font-size: 20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                        @item.Name
                    </span>
                    <div class="col-3" style="display: flex; align-items: center; justify-content:end">
                        @if (item.DishRate == 0)
                        {
                            <span style="font-size: 12px; color: dimgrey;">未评分</span>
                        }
                        else
                        {
                            <span style="font-size: 12px; color: dimgrey;">@item.DishRate</span>
                            <i class="fa-solid fa-star" style="font-size: 14px; margin-left: 2px; color: goldenrod;"></i>
                        }
                    </div>
                </div>
                <!-- Second Row -->
                <div class="d-flex justify-content-start" style="margin-top: 4px;">
                    <span style="font-size: 14px;">@item.Canteen</span>
                    <span style="margin-left:12px; font-size: 14px; color: gray;">@item.Stall</span>
                </div>
            </BodyTemplate>
        </Card>
    </div>
    <div style="height: 6px"></div>
}
<Pagination PageCount="@PageCount" ShowPageInfo="true" OnPageLinkClick="@ShowItemsAsync">
    <PageInfoTemplate>
        <div class="page-info me-2">@PageInfoText</div>
        <Select @bind-Value="PageItems" Items="PageItemsSource" />
    </PageInfoTemplate>
</Pagination>
<div style="height: 15px"></div>
<div class="text-center">
    @_status
</div>

